:root{
    --app-color-theme: rgb(149, 117, 222);
    --app-color-theme-deep: rgb(101, 84, 175);
    --app-color-theme-alpha: rgba(149, 117, 222, 0.1);
    --app-color-white: #fff;
    --app-color-light: #f8f9fa;
    --app-color-dark: #444;
    --app-color-border: #dee2e6;
    --app-color-red: rgb(238, 8, 105);
    --app-color-success: rgb(0, 128, 0);
    --app-color-table-row: #F5F7F8;
    --app-line-height-default: 28px;
    --app-padding-x: 15px;
    --app-font-size-small: 90%;
    --app-border-small: 4px;
    --app-text-left: left;
}
*,
*::before,
*::after{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    font-family: sans-serif;
    font-family: sans-serif;
    text-align-last: left;
    font-weight: 400;
    background-color: var(--app-color-white);
    color: var(--app-color-dark);
    margin: 0;
    padding: 0;
}


/* *****************************************************
 ******************* DEFAULT cLASSES *******************
 ***************************************************** */

 .container{
    width: 100%;
    padding-left: var(--app-padding-x);
    padding-right: var(--app-padding-x);
    margin: 0 auto;
 }

 @media( width > 576px ){
    .container{
        max-width: 540px;
    }
 }
 @media( width > 768px ){
    .container{
        max-width: 720px;
    }
 }
 @media( width > 992px ){
    .container{
        max-width: 960px;
    }
 }
 @media( width > 1200px ){
    .container{
        max-width: 1140px;
    }
 }
 @media( width > 1400px ){
    .container{
        max-width: 1320px;
    }
 }